/* Style for percentage bars in student course marks page */
.progress {
    height: 20px;
    border-radius: 4px;
    background-color: #f2f2f2;
    margin-bottom: 4px;
}

.custom-progress-bar {
    height: 20px;
    border-radius: 4px;
    color: white;
    text-align: center;
    line-height: 20px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-progress-bar-success {
    background-color: rgba(40, 167, 69, 0.7);
}

.custom-progress-bar-info {
    background-color: rgba(23, 162, 184, 0.7);
}

.custom-progress-bar-warning {
    background-color: rgba(255, 193, 7, 0.7);
}

.custom-progress-bar-danger {
    background-color: rgba(220, 53, 69, 0.7);
}